@charset "utf-8";

@import 'shadcn-ui.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
    Kamome theme
  */
  :root {
    --kamome-green-50: 157 100% 96%;
    --kamome-green-100: 154 96% 90%;
    --kamome-green-200: 157 90% 80%;
    --kamome-green-300: 161 85% 67%;
    --kamome-green-400: 163 77% 52%;
    --kamome-green-500: 165 100% 39.2%;
    --kamome-green-600: 165 100% 32%;
    --kamome-green-700: 167 100% 26%;
    --kamome-green-800: 168 100% 20%;
    --kamome-green-900: 169 100% 17%;
    --kamome-green-950: 170 100% 9%;

    --kamome-gray-50: 0 0% 96;
    --kamome-gray-100: 0 0% 91;
    --kamome-gray-200: 0 0% 82;
    --kamome-gray-300: 0 0% 69;
    --kamome-gray-400: 0 0% 53;
    --kamome-gray-500: 0 0% 43;
    --kamome-gray-600: 0 0% 36;
    --kamome-gray-700: 0 0% 31;
    --kamome-gray-800: 0 0% 27;
    --kamome-gray-900: 0 0% 24;
    --kamome-gray-950: 0 0% 5;

    --background: var(--kamome-gray-50);
    --foreground: var(--kamome-gray-950);

    --accent: var(--kamome-gray-100);
    --accent-foreground: var(--kamome-gray-900);

    --border: var(--kamome-gray-200);
    --input: var(--kamome-gray-100);
    --input: var(--kamome-gray-200);

    --radius: 0.75rem;
  }

  .dark {
    --background: var(--kamome-gray-950);
    --foreground: var(--kamome-gray-50);

    --accent: var(--kamome-gray-900);
    --accent-foreground: var(--kamome-gray-100);

    --border: var(--kamome-gray-900);
    --input: var(--kamome-gray-900);
    --input: var(--kamome-gray-800);
  }

  * {
    @apply box-border border-border scroll-smooth font-sora;
  }

  body {
    @apply m-0 p-0 w-full min-h-screen bg-background text-foreground font-sora;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sora;
  }

  code,
  kbd {
    @apply font-ibm-plex-mono font-medium tracking-wide py-1 px-2 bg-accent dark:bg-accent/50 rounded-sm;
  }
}
